<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de productos</h3>

    <form (ngSubmit)="onSubmit()" #libroForm="ngForm">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="productos.nombre" placeholder="Título del libro">
                </div>

                <div class="form-group">
                    <label>Editorial:</label>
                    <input type="text" class="form-control" id="editorial" name="editorial" [(ngModel)]="productos.editorial">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Peso:</label>
                    <input type="text" class="form-control" id="peso" name="peso"  (keydown)="validarNumerico($event)" [(ngModel)]="productos.peso">
                </div>

                <div class="form-group">
                    <label>Alto:</label>
                    <input type="text" class="form-control" id="alto" (keydown)="validarNumerico($event)" name="alto"  [(ngModel)]="productos.alto">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ancho:</label>
                    <input type="text" class="form-control" id="ancho" (keydown)="validarNumerico($event)" [(ngModel)]="productos.ancho" name="ancho" placeholder="cm">
                </div>

                <div class="form-group">
                    <label>Stock:</label>
                    <input type="text" class="form-control" id="stock" (keydown)="validarNumerico($event)" [(ngModel)]="productos.stock" name="stock" placeholder="0">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Precio:</label>
                    <input type="text" class="form-control" id="precio" (keydown)="validarNumerico($event)" [(ngModel)]="productos.precio" name="precio" placeholder="S/.">
                </div>

                <div class="form-group">
                    <label>Año de Edición:</label>
                    <input type="text" class="form-control" id="aedicion" [(ngModel)]="productos.aedicion" name="aedicion" placeholder="yyyy-mm-dd">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>NºPáginas:</label>
                    <input type="text" class="form-control" id="npaginas" [(ngModel)]="productos.npaginas" name="npaginas" (keydown)="validarNum($event)">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Autor:</label>
                    <input type="text" class="form-control" id="autor" [(ngModel)]="productos.autor" name="autor">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Link de la imagen:</label>
            <input type="text" class="form-control"  placeholder="Ingrese el url de la imagen" 
            id="img" [(ngModel)]="productos.img" name="img">
        </div>
<br>
        <div class="text-center">
            <button class="btn btn-success" [disabled]="!libroForm.form.valid">Guardar</button>
        </div>
    </form>
</div>