<div class="menu-wrapper">
  <div class="sidebar-header">
    <div class="sideBar">
      <div class="menu-header"><img src="https://odi.ucr.ac.cr/medios/imagenes/2010/logo-crisol.jpg" /></div>
      <ul>
        <li [ngClass]="{ 'selected': isSelected('admin/principal') }" (click)="selectOption('admin/principal')">
          <i class="fas fa-home"></i><label>Home</label>
        </li>
        <!--Opcion Productos-->
        <li (click)="toggleSubopciones()"
          *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'|| rolUsuario =='Compras'">
          <i class="fa-solid fa-grip-lines"></i><label>Almacén</label>
          <i class="fa-solid"
            [ngClass]="{'fa-angle-down': subopcionesProducto, 'fa-angle-right': !subopcionesProducto}"></i>
        </li>

        <!--Subpciones de Productos-->
        <ul *ngIf="subopcionesProducto">

          <li [ngClass]="{ 'selected': isSelected('admin/principal/productos') }"
            (click)="selectOption('admin/principal/productos')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'">
            <i class="fa-solid fa-book"></i><a>Libros</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/categorias') }"
            (click)="selectOption('admin/principal/categorias')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'">
            <i class="fa-solid fa-layer-group"></i><a>Categorías</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/generos') }"
            (click)="selectOption('admin/principal/generos')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'">
            <i class="fa-solid fa-mars-stroke-right"></i><a>Géneros</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/subgeneros') }"
            (click)="selectOption('admin/principal/subgeneros')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'">
            <i class="fa-solid fa-mars-stroke-right"></i><a>Subgeneros</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/generos-subgeneros') }"
            (click)="selectOption('admin/principal/generos-subgeneros')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Almacén'">
            <i class="fa-solid fa-mars-stroke-right"></i><a>Generos-Subgeneros</a>
          </li>


        </ul>

        <li [ngClass]="{ 'selected': isSelected('admin/principal/usuarios') }"
          (click)="selectOption('admin/principal/usuarios')" *ngIf="rolUsuario =='Administrador'">
          <i class="fa-solid fa-users"></i><a>Usuarios</a>
        </li>



        <li (click)="toggleSubopcionesVenta()" *ngIf="rolUsuario =='Administrador' || rolUsuario =='Ventas'">
          <i class="fa-solid fa-grip-lines"></i><label>Ventas</label>
          <i class="fa-solid" [ngClass]="{'fa-angle-down': subopcionesVenta, 'fa-angle-right': !subopcionesVenta}"></i>
        </li>

        <ul *ngIf="subopcionesVenta">

          <li [ngClass]="{ 'selected': isSelected('admin/principal/clientes') }"
            (click)="selectOption('admin/principal/clientes')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Ventas'">
            <i class="fa-solid fa-users"></i><a>Clientes</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/motorizados') }"
            (click)="selectOption('admin/principal/motorizados')" *ngIf="rolUsuario =='Administrador'">
            <i class="fa-solid fa-motorcycle"></i><a>Motorizados</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/productos') }"
            (click)="selectOption('admin/principal/asignar-motorizado')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Ventas'">
            <i class="fa-solid fa-hand-holding"></i><a>Asignar motorizado</a>
          </li>

          <li [ngClass]="{ 'selected': isSelected('admin/principal/productos') }"
            (click)="selectOption('admin/principal/ventas-curso')"
            *ngIf="rolUsuario =='Administrador' || rolUsuario =='Ventas'">
            <i class="fa-solid fa-coins"></i><a>Ventas en curso</a>
          </li>


        </ul>

        <!---
        <li [ngClass]="{ 'selected': isSelected('admin/principal/ventas') }"
          (click)="selectOption('admin/principal/ventas')"
          *ngIf="rolUsuario =='Ventas' || rolUsuario =='Administrador'">
          <i class="fa-solid fa-hand-holding-dollar"></i><a>Ventas</a>
        </li>
        ----------------------->



        <li [ngClass]="{ 'selected': isSelected('admin/principal/compras') }"
          (click)="selectOption('admin/principal/compras')"
          *ngIf="rolUsuario =='Almacén' || rolUsuario =='Administrador'">
          <i class="fa-solid fa-cart-shopping"></i><a>Compras</a>
        </li>

        <li>
          <i class="fa-solid fa-right-from-bracket"></i><a (click)="onLogout()">Cerrar Sesión</a>
        </li>
      </ul>
      <span class="cross-icon"><i class="fas fa-times"></i></span>
    </div>
    <div class="backdrop"></div>
    <div class="content">
      <header class="menu-header">
        <div></div>
        <h1 *ngIf="isAuthenticated()">{{ nombres }} | {{ rolUsuario }}</h1>
        <img src="../../../assets/usuario.jpeg" />
      </header>
      <div class="content-data">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>