<header>
  <nav>
    <ul>
      <li class="crisol"><a href="/">Crisol</a></li>
      <!-- Repite este bloque por cada categoría -->
      <li *ngFor="let categoria of menuData" class="dropdown">
        <a class="menu-option">{{categoria.nombre}}</a>
        <ul class="submenu">
          <li *ngFor="let genero of categoria.generos" class="submenu-group">
            <h4>{{genero.nombre}}</h4>
            <ul class="submenu-list">
              <li *ngFor="let subgenero of genero.subgeneros">
                <a [routerLink]="['/crisol']" [queryParams]="{subgenero: subgenero}">{{subgenero}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
  <!-- Fin de la repetición -->
<!--
      <li><a href="admin/principal">LIBROS A PEDIDOS</a></li>-->
      <!-- cliente logueado -->
    <li class="nav-item login" *ngIf="isAuthenticated()">
      <button class="btn btn-link text-black dropdown-toggle" (click)="toggleMenu()">
          <i class="fas fa-user"></i> {{ clienteNombre }}
      </button>
      <div class="dropdown-menu" *ngIf="showMenu">
          <a class="dropdown-item" [routerLink]="['/crisol/cliente/compras']"> Mis compras  <i class="fa-solid fa-list"></i></a>
          <a class="dropdown-item" [routerLink]="['/']" (click)="onLogout()"> Cerrar sesión  <i class="fas fa-sign-out-alt"></i></a>
         
      </div>
    </li>

    <!-- cliente NO  logueado -->
    <li class="nav-item login" *ngIf="!isAuthenticated()">
      <a class="btn btn-link text-black" [routerLink]="['/crisol/cliente/cuenta/login']">
          <i class="fas fa-user"></i> Iniciar sesión
      </a>
    </li>

<!---
      <li class="carrito">
        <a (click)="onToggleCart()">

      <li class="navbar-cart-items" *ngIf="myCart !==0">
        <p> {{myCart}} </p>
      </li>
      <i class="fa-solid fa-cart-shopping"></i>
      </a>
      </li>
    -->
    <li class="carrito" >
      <a (click)="onToggleCart()">
        <li class="navbar-cart-items" *ngIf="(myCart$ |async)?.length">
          <p>{{ (myCart$ | async)?.length }}</p>
        </li>
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>



      <div class="cart" [ngClass]="{ show: viewCart }">
        <app-carrito></app-carrito>
      </div>

    </ul>
  </nav>
</header>


<script>
  const dropdowns = document.querySelectorAll('.dropdown');

  dropdowns.forEach((dropdown) => {
    const menuOption = dropdown.querySelector('.menu-option');
    const submenu = dropdown.querySelector('.submenu');

    menuOption.addEventListener('mouseenter', () => {
      submenu.style.display = 'block'; // Cambia 'grid' por 'block'
    });

    dropdown.addEventListener('mouseleave', () => { // Cambia 'menuOption' por 'dropdown'
      submenu.style.display = 'none';
    });
  });
</script>