<div class="jumbotron text-white">
    <h1 class="display-4">Motorizados</h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-10">
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary" [routerLink]="['/admin/principal/crud-motorizado']">
                    Registrar Motorizados
                </button>
            </div>


            <div class="table-responsive">
                <table class="table table-hover table-striped custom-table mt-3">
                    <thead class="bg-secondary table-light">
                        <tr>
                            <th>Id</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>DNI</th>
                            <th>Placa</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of motorizados">
                            <td>{{a.motorizadoId}}</td>
                            <td>{{a.nombres}}</td>
                            <td>{{a.apellidos}}</td>
                            <td>{{a.dni}}</td>
                            <td>{{a.placa}}</td>
                            <td>
                                <button type="button" name="button" [routerLink]="['/admin/principal/crud-motorizado',a.motorizadoId]"
                                class="btn btn-warning btn-sm"> <i class="fa-solid fa-pen"></i> </button>
                                <!--- <button class="btn btn-danger">Eliminar</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>