<div class="container">
    <h1 class="text-center p-3">
      {{ subgenero.subgeneroId ? 'Edición de subgénero' : 'Registro de subgénero' }}
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form  class="custom-form">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" maxlength="30" [(ngModel)]="subgenero.nombre"  name="nombre" required>
            <div *ngIf="subgenero.nombre === ''" class="error-message">
              Campo requerido*
            </div>
          </div>
  
          <div class="form-group" *ngIf="subgenero.subgeneroId">
            <label for="estado">Estado del subgenero</label>
            <select  [(ngModel)]="subgenero.estado" name="estado" class="form-select">
              <option  value="" disabled="disabled">Seleccione Estado</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
            <div *ngIf="subgenero.estado === ''" class="error-message">
              Campo requerido*
            </div>
          </div>
  
          <div class="form-group">
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary mr-2 custom-button" (click)="subgenero.subgeneroId ? editarSubgenero() : crearSubgenero()">
                <ng-container *ngIf="subgenero.subgeneroId; else createIcon">
                  <i class="fa-solid fa-pen"></i>  Editar
                </ng-container>
                <ng-template #createIcon>
                  <i class="fa-solid fa-check"></i>  Crear
                </ng-template>
              </button>
              <button type="button" name="button" [routerLink]="['/admin/principal/subgeneros']" class="btn btn-secondary">
                <i class="fa-solid fa-xmark"></i>  Cancelar
              </button>
            </div>
           </div>
        </form>
      </div>
    </div>
  </div>