<div class="productCart-wrapper">
    <article class="productCart" *ngFor="let product of myCart$ |async">
        <div class="productCart-body">
            <p>{{product.nombre}}</p>
            <div class="productCart-body-info">
                <p>S/.{{product.precio}}</p>
                <p>|</p>
                <p>{{product.stock}} unidad(es)</p>
            </div>
        </div>
        <div class="productCart-total">
            <p>S/. {{totalProductos(product.precio,product.stock)}} </p>
        </div>
        <div class="productCart-buttons">
            <div class="productCart-buttons-operators">
                <i
                  class="fa-solid fa-minus"
                  (click)="actUnidades('minus', product.id_libro)"
                ></i>
                <span>{{ product.stock }}</span>
                <i
                  class="fa-solid fa-plus"
                  (click)="actUnidades('add', product.id_libro)"
                ></i>
              </div>
              <i class="fa-solid fa-trash" (click)="eliminarProducto(product.id_libro)"></i>
        </div>
    </article>
    <div class="cartTotal">
        <p class="cartTotal-total"> Total: S/. {{totalCart()}}</p>
    </div>
    <button class="cart-btn">Ver el carrito</button>
</div>
 