<div class="slider">
    <div class="slides">
        <div class="slide"><img src="https://www.crisol.com.pe/media/wysiwyg/banner/julio-2023/feria-crisol/bnd_home_banner-principal_feria_3x2.jpg"></div>
        <div class="slide"><img src="https://www.crisol.com.pe/media/wysiwyg/banner/julio-2023/feria-crisol/bnd_home_banner-principal_abril-rojo_925x500-2.jpg"></div>
        <div class="slide"><img src="https://www.crisol.com.pe/media/wysiwyg/banner/julio-2023/feria-crisol/bnd_home_banner-principal_feria.jpg"></div>
    </div>
</div>