<div class="jumbotron text-white">
    <h1 class="display-4">Asignar Motorizado</h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-hover table-striped custom-table mt-3">
                    <thead class="bg-secondary table-light">
                        <tr>
                            <th>Id</th>
                            <th>Total</th>
                            <th>Nº Productos</th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Cliente</th>
                            <th>Motorizado</th>
                            <th>Asignar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of ventas">
                            <td>{{a.ventaId}}</td>
                            <td>S/.{{a.total}}</td>
                            <td>{{a.cantidad_total}}</td>
                            <td>{{a.fecha_venta}}</td>
                            <td>{{a.tipo}}</td>
                            <td>{{a.cliente}}</td>
                            <td>{{a.motorizado}}</td>
                            <td>                                
                                <button type="button" name="button" [routerLink]="['/admin/principal/asignar-motorizado/elegir-motorizado',a.ventaId]"
                                class="btn btn-warning btn-sm"> <i class="fa-solid fa-pen"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>